<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculator</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--custom stylesheet-->
    <link rel="stylesheet" href="css/customStyle.css">
</head>
<body ng-app="calciApp" ng-controller="calculateControl">
<div class="container text-center" id="calc">
    <div class="calcBG col-md-3 col-md-offset-4 text-center">
        <div class="row">
            <small>Calculator</small>
        </div>
        <div class="row" id="result">
            <form name="calc">
                <input type="text" class="screen text-right" name="result" ng-model="firstNumber" >
            </form>
        </div>
        <div class="row">
            <button id="allClear" type="button" class="btn btn-danger" ng-click="clearDisplay('C')">AC</button>
            <button id="clear" type="button" class="btn btn-warning" ng-click="clear()">CE</button>
            <button id="^2" type="button" class="btn btn-info" ng-click="doSquare('^2')">^2</button>
            <button id="/" type="button" class="btn btn-info" ng-click="doDiv('/')">÷</button>
        </div>
        <div class="row">
            <button id="7" type="button" class="btn btn-info" ng-click="addNumber(7)">7</button>
            <button id="8" type="button" class="btn btn-info" ng-click="addNumber(8)">8</button>
            <button id="9" type="button" class="btn btn-info" ng-click="addNumber(9)">9</button>
            <button id="*" type="button" class="btn btn-info" ng-click="doMul('*')">x</button>
        </div>
        <div class="row">
            <button id="4" type="button" class="btn btn-info" ng-click="addNumber(4)">4</button>
            <button id="5" type="button" class="btn btn-info" ng-click="addNumber(5)">5</button>
            <button id="6" type="button" class="btn btn-info" ng-click="addNumber(6)">6</button>
            <button id="-" type="button" class="btn btn-info" ng-click="doSub('-')">-</button>
        </div>
        <div class="row">
            <button id="1" type="button" class="btn btn-info" ng-click="addNumber(1)">1</button>
            <button id="2" type="button" class="btn btn-info" ng-click="addNumber(2)">2</button>
            <button id="3" type="button" class="btn btn-info" ng-click="addNumber(3)">3</button>
            <button id="+" type="button" class="btn btn-info" ng-click="doAdd('+')">+</button>
        </div>
        <div class="row">
            <button id="0" type="button" class="btn btn-info" ng-click="addNumber(0)">0</button>
            <button id="^3" type="button" class="btn btn-info" ng-click="doCube('^3')">^3</button>\
            <button id="sin" type="button" class="btn btn-info" ng-click="sinFn()">sin</button>
            <button id="cos" type="button" class="btn btn-info" ng-click="cosFn()">cos</button>

        </div>
        <div class="row">
            <button id="equals" type="button" class="btn btn-success" ng-click="equalDisplay('=')">=</button>
            <button id="blank" type="button" class="btn btn-info">&nbsp;</button>
        </div>

    </div>

</div>
</body>
<script src="jquery/jquery.min.js"></script>
<!--//    bootstrap-->
<script src="js/bootstrap.min.js"></script>
<!--angular script-->
<script src="bower_components/angular/angular.min.js"></script>
<!--angular route -->
<script src="bower_components/angular-route/angular-route.min.js"></script>
<!--custom js-->
<script src="js/customJs.js"></script>
</html>